In [1]:
!pip install pandas
!pip install numpy
import random
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in d:\anna\ve\lib\site-packages (1.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anna\ve\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in d:\anna\ve\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in d:\anna\ve\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in d:\anna\ve\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: numpy in d:\anna\ve\lib\site-packages (1.22.3)

In [10]:
from datetime import datetime

In [14]:
N = 23 #N-samples
dates = np.zeros([N,3])

for i in range(0,N):
    year = random.randint(1970, 2010) 
    month = random.randint(1, 12)
    day = random.randint(1, 28)
    #if you need to change it use variables :3
    birth_date = datetime(year, month, day)
    dates[i] = [year,month,day]

df = pd.DataFrame(dates.astype(int))
df.columns = ['year', 'month', 'day']
pd.to_datetime(df)

0    1990-02-02
1    1981-01-15
2    1995-11-12
3    1978-05-11
4    2000-04-23
5    1984-01-19
6    1993-06-10
7    1975-02-22
8    2001-04-28
9    2010-11-18
10   1977-12-27
11   1990-11-25
12   1991-07-13
13   1987-09-24
14   1997-10-16
15   2003-06-25
16   1980-09-19
17   2001-01-04
18   1986-04-27
19   2004-04-18
20   2008-11-23
21   1989-10-27
22   2008-01-14
dtype: datetime64[ns]

In [44]:
def get_unique(df):
    unique=[]
    for date in df:
        if date not in unique:
            unique.append(date)
    return unique

In [45]:
print(unique)

['month', 'day', 'year']